.footer {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    color: black;
}

h1 {
    font-size: 40px;
}

p {
    text-align: center;
}